@charset "UTF-8";
:root {
  --color-signal: #fab700;
  --color-accent: var(--color-signal);
  line-height: 1.4;
  font-family: sans-serif;
  font-size: calc(0.6rem + 0.4vw);
  color: #212121;
  background: white;
  font-weight: 300;
}

h1, h2, h3 {
  font-weight: 900;
}

.input {
  user-select: none;
  position: relative;
  padding-top: 12px;
}
.input .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #4caf50;
  transition: 0.4s;
}
.input label {
  position: absolute;
  left: 0;
  width: 100%;
  top: 12px;
  color: #aaa;
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 0.5px;
}
.input input {
  position: relative;
  font: 15px/24px monospace;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  border: none;
  padding: 2px 0 0 0;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
}
.input input:not(:placeholder-shown), .input input:focus {
  outline: none;
}
.input input:not(:placeholder-shown) ~ .focus-border, .input input:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
}
.input input:not(:placeholder-shown) ~ label, .input input:focus ~ label {
  top: 0;
  font-size: 12px;
  color: #4caf50;
  transition: 0.3s;
}
.input input:not(:placeholder-shown):not(:focus) ~ .focus-border {
  width: 0;
  transition: 0.4s;
}
.input input:not(:placeholder-shown):not(:focus) ~ label {
  color: #333;
  transition: 0.3s;
}

body {
  margin: 0;
}

#calculator {
  display: grid;
  box-sizing: border-box;
  grid-template-rows: 100fr 100fr;
  grid-template-columns: 100fr;
  grid-template-areas: "input" "output";
  width: 100vw;
  height: 200vh;
}
#calculator #input {
  padding: 15px;
  grid-area: input;
  display: grid;
  grid-template-columns: 60fr 40fr;
  grid-template-rows: 50fr 25fr 25fr;
  grid-gap: 15px;
  grid-template-areas: "ligands visualizer" "ligands controls" "ligands calculate";
}
#calculator #input #visualizer {
  grid-area: visualizer;
  width: 100%;
  height: 100%;
}
#calculator #input #visualizerControls {
  grid-area: controls;
}
#calculator #input #visualizerControls #orbitals {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
#calculator #input #visualizerControls #orbitals li {
  user-select: none;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
}
#calculator #input #visualizerControls #orbitals li:hover {
  background-color: #f2f2f2;
}
#calculator #input #ligands {
  padding: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  grid-area: ligands;
}
#calculator #input #ligands .heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px;
}
#calculator #input #ligands .heading h2 {
  margin: 0;
  padding: 5px;
  font: 32px/40px sans-serif;
}
#calculator #input #ligands #newLigand {
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  border: 1px solid gray;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: white;
  font: 15px/24px monospace;
  cursor: pointer;
  width: fit-content;
  position: relative;
}
#calculator #input #ligands #newLigand .button {
  padding: 0px 5px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#calculator #input #ligands #newLigand .button:hover {
  background-color: #f2f2f2;
}
#calculator #input #ligands #newLigand .dropdown {
  position: relative;
  height: 100%;
  border-left: 1px solid gray;
  padding: 0px 5px;
  box-sizing: border-box;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
#calculator #input #ligands #newLigand .dropdown::after {
  content: "▾";
  box-sizing: border-box;
}
#calculator #input #ligands #newLigand .dropdown:hover {
  background-color: #f2f2f2;
}
#calculator #input #ligands #newLigand .menu {
  position: absolute;
  top: 100%;
  left: -1px;
  border: 1px solid gray;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: white;
  z-index: 1;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: calc(100% + 2px);
  list-style: none;
}
#calculator #input #ligands #newLigand .menu li {
  padding: 0px 5px;
  font: 15px/24px monospace;
  cursor: pointer;
  white-space: nowrap;
}
#calculator #input #ligands #newLigand .menu li:hover {
  background-color: #f2f2f2;
}
#calculator #input #ligands #newLigand.expanded {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#calculator #input #ligands #newLigand.expanded .menu {
  display: flex;
}
#calculator #input #ligands #newLigand.expanded .dropdown {
  border-bottom-right-radius: 0;
}
#calculator #input #ligands .ligand {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 15px;
  width: 100%;
}
#calculator #input #ligands .ligand .delete {
  font: 15px/15px sans-serif;
  margin-right: 5px;
  font-weight: bold;
  margin-left: auto;
  cursor: pointer;
}
#calculator #input #ligands .ligand .delete::after {
  content: "X";
}
#calculator #input #ligands .ligand .delete:hover {
  color: #4caf50;
}
#calculator #input #ligands .ligand .energies {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 2em;
  width: 14em;
}
#calculator #input #ligands .ligand .energies input {
  width: 6em;
}
#calculator #input #ligands .ligand .position input {
  width: 3em;
}
#calculator #output {
  grid-area: output;
}
#calculator #calculate {
  grid-area: calculate;
}

.orderedPair {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.orderedPair .input {
  margin: 0 0.25em;
}
.orderedPair .separator {
  position: relative;
  width: 2ex;
  font-size: 15px;
}
.orderedPair .separator::after {
  content: ",";
  font: 15px/15px monospace;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.orderedPair .parenthesis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.orderedPair .parenthesis:first-child::after {
  content: "(";
}
.orderedPair .parenthesis::after {
  margin-top: -1.5px;
  content: ")";
  font: 15px/15px monospace;
  transform: scaleY(3.25);
}

.hidden {
  display: none;
}

/*# sourceMappingURL=input.css.map */
