@use "sass:list";
@use "util/variables" as v;

.button {
  user-select: none;
  box-sizing: border-box;
  border: v.$border;
  border-radius: v.$border-radius;
  background-color: v.$color-bg;
  cursor: pointer;
  font: list.slash(v.$font-size, v.$line-height) v.$font-monospace;
  color: v.$color-text;
  width: fit-content;
  padding: 0px v.$padding;
  text-transform: lowercase;
  text-decoration: none;

  &.disabled {
    text-decoration: line-through;
    cursor: default;
  }

  &:not(.disabled):hover {
    background-color: v.$color-bg-hover;
  }

  &.toggle {
    &:not(:has(.toggle_on)) {
      color: lighten(v.$color-text, 50%);

      &.selected {
        color: v.$color-text;
      }
    }

    &:has(.toggle_on) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;

      &::after {
        content: "/";
        padding: 0px v.$padding;
        order: 2;
      }

      .toggle_on {
        order: 1;
        color: v.$color-text;
      }

      .toggle_off {
        order: 3;
        color: lighten(v.$color-text, 50%);
      }

      &.selected {
        .toggle_on {
          color: lighten(v.$color-text, 50%);
        }

        .toggle_off {
          color: v.$color-text;
        }
      }
    }
  }
}
