@charset "UTF-8";
.dropdown {
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 4px;
  background-color: white;
  font: 15px / 24px monospace;
  color: #212121;
  text-transform: lowercase;
  cursor: pointer;
  width: fit-content;
  position: relative;
}
.dropdown:not(.discrete) .dropdown_button {
  padding: 0px 0px 0px 5px;
}
.dropdown:not(.discrete) .dropdown_arrow {
  padding: 0px 5px 0px 1ex;
}
.dropdown:not(.discrete):hover {
  background-color: #f2f2f2;
}
.dropdown.discrete .dropdown_button {
  padding: 0px 5px;
}
.dropdown.discrete .dropdown_button:hover {
  background-color: #f2f2f2;
}
.dropdown.discrete .dropdown_arrow {
  border-left: 1px solid #cccccc;
  padding: 0px 5px;
}
.dropdown.discrete .dropdown_arrow:hover {
  background-color: #f2f2f2;
}
.dropdown .dropdown_button {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.dropdown .dropdown_arrow {
  position: relative;
  height: 100%;
  padding: 0px 5px;
  box-sizing: border-box;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.dropdown .dropdown_arrow::after {
  content: "▾";
  box-sizing: border-box;
}
.dropdown .dropdown_menu {
  position: absolute;
  top: 100%;
  left: -1px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: white;
  z-index: 1;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: calc(100% + 2px);
  list-style: none;
}
.dropdown .dropdown_menu li {
  padding: 0px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropdown .dropdown_menu li:hover {
  background-color: #f2f2f2;
}
.dropdown .dropdown_menu li.dropdown__divider {
  padding: 0;
  border-bottom: 1px solid #cccccc;
}
.dropdown .dropdown_menu li.toggle {
  color: #a1a1a1;
}
.dropdown .dropdown_menu li.toggle.selected {
  color: #212121;
}
.dropdown.expanded {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.dropdown.expanded .dropdown_menu {
  display: flex;
}
.dropdown.expanded .dropdown {
  border-bottom-right-radius: 0;
}

.button {
  user-select: none;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  font: 15px / 24px monospace;
  color: #212121;
  width: fit-content;
  padding: 0px 5px;
  text-transform: lowercase;
  text-decoration: none;
}
.button.disabled {
  text-decoration: line-through;
  cursor: default;
}
.button:not(.disabled):hover {
  background-color: #f2f2f2;
}
.button.toggle:not(:has(.toggle_on)) {
  color: #a1a1a1;
}
.button.toggle:not(:has(.toggle_on)).selected {
  color: #212121;
}
.button.toggle:has(.toggle_on) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.button.toggle:has(.toggle_on)::after {
  content: "/";
  padding: 0px 5px;
  order: 2;
}
.button.toggle:has(.toggle_on) .toggle_on {
  order: 1;
  color: #212121;
}
.button.toggle:has(.toggle_on) .toggle_off {
  order: 3;
  color: #a1a1a1;
}
.button.toggle:has(.toggle_on).selected .toggle_on {
  color: #a1a1a1;
}
.button.toggle:has(.toggle_on).selected .toggle_off {
  color: #212121;
}

:root {
  --color-signal: #fab700;
  --color-accent: var(--color-signal);
  line-height: 1.4;
  font-family: sans-serif;
  font-size: calc(0.6rem + 0.4vw);
  color: #212121;
  background: white;
  font-weight: 300;
}

h1, h2, h3 {
  font-weight: 900;
}

.input {
  user-select: none;
  position: relative;
  padding-top: 12px;
}
.input .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #4caf50;
  transition: 0.4s;
}
.input label {
  position: absolute;
  left: 0;
  width: 100%;
  top: 12px;
  color: #aaa;
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 0.5px;
}
.input input {
  position: relative;
  font: 15px/24px monospace;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  border: none;
  padding: 2px 0 0 0;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
}
.input input:not(:placeholder-shown), .input input:focus {
  outline: none;
}
.input input:not(:placeholder-shown) ~ .focus-border, .input input:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
}
.input input:not(:placeholder-shown) ~ label, .input input:focus ~ label {
  top: 0;
  font-size: 12px;
  color: #4caf50;
  transition: 0.3s;
}
.input input:not(:placeholder-shown):not(:focus) ~ .focus-border {
  width: 0;
  transition: 0.4s;
}
.input input:not(:placeholder-shown):not(:focus) ~ label {
  color: #333;
  transition: 0.3s;
}

body {
  margin: 0;
}

#calculator {
  display: grid;
  box-sizing: border-box;
  padding: 15px;
  grid-template-rows: minmax(0, 1fr) minmax(0, auto);
  grid-column-gap: 15px;
  grid-template-columns: minmax(0, 55fr) minmax(0, 45fr);
  grid-template-areas: "display visualizer" "display button";
  width: 100vw;
  height: 100vh;
}
#calculator #compute {
  content: " compute ";
  grid-area: button;
  margin-left: auto;
  margin-right: auto;
}
#calculator.output #ligands {
  display: none;
}
#calculator.output #output {
  display: block;
}
#calculator #visualizer {
  grid-area: visualizer;
  box-sizing: border-box;
  padding: 10px;
}
#calculator #ligands, #calculator #output {
  padding: 10px;
  box-shadow: 0 14px 14px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  grid-area: display;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
}
#calculator #ligands .heading, #calculator #output .heading {
  margin: 0;
  margin-bottom: 5px;
  font: 32px/40px sans-serif;
}
#calculator #ligands .description, #calculator #output .description {
  margin: 0;
  font: 15px / 24px sans-serif;
}
#calculator #ligands .description:last-of-type, #calculator #output .description:last-of-type {
  margin-bottom: 24px;
}
#calculator #ligands .controls, #calculator #output .controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#calculator #ligands .controls > *, #calculator #output .controls > * {
  margin: 0px 5px;
}
#calculator #ligands .controls > *:first-child, #calculator #output .controls > *:first-child {
  margin-left: 0px;
}
#calculator #ligands .controls > *:last-child, #calculator #output .controls > *:last-child {
  margin-right: 0px;
}
#calculator #ligands:not(.start) .ligand .start {
  display: none;
}
#calculator #ligands.start .ligand .end {
  display: none;
}
#calculator #ligands .ligand {
  margin-top: 15px;
  width: 100%;
}
#calculator #ligands .ligand .start, #calculator #ligands .ligand .end {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}
#calculator #ligands .ligand .reset {
  font-size: 15px;
  line-height: 15px;
  margin-right: 5px;
  cursor: pointer;
}
#calculator #ligands .ligand .reset:hover {
  color: #4caf50;
}
#calculator #ligands .ligand .delete {
  font-size: 15px;
  line-height: 15px;
  margin-right: 5px;
  cursor: pointer;
}
#calculator #ligands .ligand .delete:hover {
  color: #4caf50;
}
#calculator #ligands .ligand .energies {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 2em;
  width: 14em;
  margin-right: auto;
}
#calculator #ligands .ligand .energies input {
  width: 6em;
}
#calculator #ligands .ligand .position input {
  width: 3em;
}
#calculator #output {
  display: none;
}
#calculator #output #plot {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas: "controls" "plot" "matrix";
  grid-row-gap: 15px;
}
#calculator #output #plot .controls {
  grid-area: controls;
}
#calculator #output #plot .matrices {
  grid-area: matrix;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
#calculator #output #plot .matrices .matrix:not(.tooltip) {
  order: 1;
}
#calculator #output #plot .matrices .tooltip {
  order: 3;
}
#calculator #output #plot .matrices .tooltip li {
  color: var(--color);
}
#calculator #output #plot .matrices .arrow {
  order: 2;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  margin: 0 1ch;
}
#calculator #output #plot .wrapper {
  grid-area: plot;
  cursor: pointer;
}

.orderedPair {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.orderedPair .input {
  margin: 0 0.25em;
}
.orderedPair .separator {
  position: relative;
  width: 2ex;
  font-size: 15px;
}
.orderedPair .separator::after {
  content: ",";
  font: 15px/15px monospace;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.orderedPair .parenthesis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.orderedPair .parenthesis:first-child::after {
  content: "(";
}
.orderedPair .parenthesis::after {
  margin-top: -1.5px;
  content: ")";
  font: 15px/15px monospace;
  transform: scaleY(3.25);
}

.monospace {
  font-family: monospace;
}

.hidden {
  display: none !important;
}

.matrix {
  width: fit-content;
  height: fit-content;
  min-height: calc(25px * var(--rows));
  min-width: calc(6ch * var(--cols));
  margin: 0;
  padding: 1ex;
  box-sizing: content-box;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: repeat(var(--rows), 1fr);
  grid-template-columns: repeat(var(--cols), 6ch);
  list-style: none;
  font: 15px / 15px monospace;
  position: relative;
}
.matrix li {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0.5ch;
  padding-right: 0.5ch;
  width: 100%;
  box-sizing: border-box;
}
.matrix::before, .matrix::after {
  content: " ";
  width: calc(1ex - 2px);
  height: calc(100% - 4px);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid #212121;
}
.matrix::before {
  left: 1px;
  border-right: none;
}
.matrix::after {
  right: 1px;
  border-left: none;
}

.visualizer {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, auto) minmax(0, 1fr);
  grid-template-areas: "controls" "canvas";
}
.visualizer .controls {
  grid-area: controls;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
}
.visualizer .wrapper {
  grid-area: canvas;
  position: relative;
}
.visualizer .axesLabel {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  user-select: none;
  font: 15px / 24px monospace;
  display: flex;
}

#tutorial {
  box-sizing: border-box;
  padding: 15px;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  grid-row-gap: 15px;
  grid-template-areas: "page" "controls";
}
#tutorial #nav {
  grid-area: controls;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#tutorial #nav #back {
  order: 1;
  margin-right: auto;
}
#tutorial #nav #prev {
  order: 2;
  margin-right: 1ex;
}
#tutorial #nav #page {
  order: 3;
  font: monospace;
  margin-right: 1ex;
  user-select: none;
}
#tutorial #nav #next {
  order: 4;
}
#tutorial .page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  grid-area: page;
  padding: 10px;
  box-shadow: 0 14px 14px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 0 14px 14px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
#tutorial .page:not(.active) {
  visibility: hidden;
}
#tutorial .page h1 {
  margin: 0;
  margin-bottom: 5px;
  font: 32px/40px sans-serif;
}
#tutorial .page p {
  margin: 0;
  font: 15px / 24px sans-serif;
}
#tutorial .page p:last-of-type {
  margin-bottom: 24px;
}
#tutorial .page img {
  width: 50%;
}
#tutorial .page .keyterm {
  font-weight: bold;
}
#tutorial .page .mono {
  font-family: monospace;
}

/*# sourceMappingURL=style.css.map */
