{% load static %}

<link rel="stylesheet" href="{% static 'aom/css/style.css' %}" type="text/css" />

<div id="calculator">
  <div id="input">
    <div id="ligands" class="start">
      <h2 class="heading">Ligands</h2>
      <p class="description">Enter the positions and binding constants of each ligand.</p>
      <p class="description">To vary postions or binding constants, use the <span class="monospace">start/end</span> button. Note, you must enter the starting values first.</p>
      <p class="description">Once ready, use the <span class="monospace">compute</span> button to calculate the one-electron orbital energies.</p>
      <div class="controls">
        <div class="button toggle" id="startEnd">
          <span class="toggle_on">start</span>
          <span class="toggle_off">end</span>
        </div>
        <label class="dropdown discrete" id="newLigand">
          <div class="dropdown_button">New Ligand</div>
          <div id="newLigandDropdown" class="dropdown_arrow"></div>
          <ul class="dropdown_menu">
            {% for l in ligands %}
            <li title="{{l.name}}" data-esigma="{{l.e_sigma}}" data-epi="{{l.e_pi}}">{{l.name}}</li>
            {% endfor %}
          </ul>
        </label>
        <div class="button" id="compute">compute</div>
      </div>
    </div>
    <div id="visualizer"></div>
    <div id="visualizerControls">
      <div id="bonds" class="button">Bonds</div>
      <label class="dropdown persist" id="orbitals">
        <div class="dropdown_button">d-Orbitals</div>
        <div class="dropdown_arrow"></div>
        <ul class="dropdown_menu">
          <li data-name="show all">show all</li>
          <li data-name="hide all">hide all</li>
          <li class="dropdown__divider"></li>
          <li data-name="dz2">dz<span class="super">2</span></li>
          <li data-name="dx2-y2">dx<span class="super">2</span>-y<span class="super">2</span></li>
          <li data-name="dxz">dxz</li>
          <li data-name="dyz">dyz</li>
          <li data-name="dxy">dxy</li>
        </ul>
      </label>
      <div id="axes" class="button">Axes</div>
      <label class="dropdown" id="view">
        <div class="dropdown_button">View</div>
        <div class="dropdown_arrow"></div>
        <ul class="dropdown_menu">
          <li data-view="[1,1,-1]" data-reset="true" title="reset">reset</li>
          <li class="dropdown__divider"></li>
          <li data-view="[1,1,-1]" title="isometric">isometric</li>
          <li data-view="[0,0,1]" title="xz">xz</li>
          <li data-view="[1,0,0]" title="yz">yz</li>
          <li data-view="[0,1,0]" title="xy">xy</li>
        </ul>
      </label>
      <div id="rotate" class="button">Rotate</div>
    </div>
  </div>
  <div id="output">
  </div>
</div>

<script src="https://unpkg.com/three@0.145/build/three.min.js"></script>
<script src="https://unpkg.com/three@0.145/examples/js/controls/OrbitControls.js"></script>

<script type="module" src="{% static 'aom/dropdown.js' %}" defer></script>
<script type="module" src="{% static 'aom/button.js' %}" defer></script>
<script type="module" src="{% static 'aom/calculator.js' %}" defer></script>
